.footer a {
  color: #000000;
}

.footer {
  padding-top: 65px;
  padding-bottom: 100px;
  background-color: #c4a9cd;
}

.footer__top-container {
  display: flex;
}

.footer__top-container > a {
  height: 50px;
}

.footer__top {
  display: flex;
  margin-left: 73px;
  margin-bottom: 70px;
}

.footer__top img {
  width: 337px;
  height: 390px;
  margin-right: 70px;
}

.footer__items {
  display: flex;
  flex-direction: column;
  width: 387px;
  margin-right: 84px;
  gap: 58px;
}

.footer__item-form {
  position: relative;
  display: flex;
}

.footer__item-form-text {
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

.footer__item_input {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #1b1b1b;
  width: 100%;
  display: block;
  padding: 10px 5px;
  outline: none;
  border: none;
  background-color: inherit;
}

.footer__item_input::placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.4);
}

.footer__item-form::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
}

.footer__item_btn {
  padding: 0;
  background-color: inherit;
  border: none;
}

.footer__item--list li:first-child {
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 20px;
}

.footer__item--list > li:not(:first-child):not(:last-child) {
  margin-bottom: 10px;
}

.footer__item-link {
  position: relative;
}

.footer__item-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #7449bb;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.footer__item-link:hover::after,
.footer__item-link:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

.footer__nav {
  padding-left: 194px;
}

.footer__nav-list {
  display: flex;
  gap: 0 22px;
}

.footer__social-icons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
}

.footer__social-icons svg {
  fill: #0f0f0f;
}

/*Анимация иконок*/
/* .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 44px;
    height: 44px;
    background: white;
    border-radius: 25%;
    fill: #0f0f0f;
    transition: 1s box-shadow;
  }
  
  .icon-container:hover,
  .icon-container:focus {
    cursor: pointer;
    box-shadow: 0 5px 25px 0px rgba(0, 0, 0, 0.1);
  }
  
  .icon-container:hover::before,
  .icon-container:hover::after {
    display: block;
    content: "";
    position: absolute;
    width: 44px;
    height: 44px;
    background: #fda8cf;
    border-radius: 25%;
    z-index: -1;
    animation: 1s clockwise infinite;
  }
  
  .icon-container:hover::after {
    background: #f3ce5e;
    animation: 2s counterclockwise infinite;
  }
  
  @keyframes clockwise {
    0% {
      top: -3px;
      left: 0;
    }
    12% {
      top: -1px;
      left: 1px;
    }
    25% {
      top: 0;
      left: 3px;
    }
    37% {
      top: 1px;
      left: 1px;
    }
    50% {
      top: 3px;
      left: 0;
    }
    62% {
      top: 1px;
      left: -1px;
    }
    75% {
      top: 0;
      left: -3px;
    }
    87% {
      top: -1px;
      left: -1px;
    }
    100% {
      top: -3px;
      left: 0;
    }
  }
  
  @keyframes counterclockwise {
    0% {
      top: -3px;
      right: 0;
    }
    12% {
      top: -1px;
      right: 1px;
    }
    25% {
      top: 0;
      right: 3px;
    }
    37% {
      top: 1px;
      right: 1px;
    }
    50% {
      top: 3px;
      right: 0;
    }
    62% {
      top: 1px;
      right: -1px;
    }
    75% {
      top: 0;
      right: -3px;
    }
    87% {
      top: -1px;
      right: -1px;
    }
    100% {
      top: -3px;
      right: 0;
    }
  } */
