.about {
  margin-bottom: 100px;
  overflow: hidden;
}

.about .swiper {
  padding-bottom: 50px;
}

.about__inner {
  padding-left: 203px;
}

.about__title {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.34;
  text-transform: uppercase;
  max-width: 184px;
  margin-bottom: 20px;
}

.about__textbox {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 150px;
}

.about__text {
  flex-basis: 387px;
}

.about__text > p {
  line-height: 1.2;
}

.about__text > p:not(:last-child) {
  margin-bottom: 20px;
}

.about__text--bold {
  font-weight: 700;
}

.about__item-title {
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 20px;
}

.about__slider {
  width: 1803px;
  padding-left: 203px;
  margin-left: -200px;
  padding-bottom: 20px;
}

.about__arows {
  margin-left: -197px;
  margin-top: -5px;
}

.container-arrows .swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}

.about__btn {
  display: inline-block;
  margin-top: 20px;
  color: #7449bb;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2;
  border: 1px solid #7449bb;
  padding: 21px 135px;
  transition: all 0.3s;
}
